<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                    
                          <h1>{% trans %}General cartography{% endtrans %}</h1>
                          <p> {% trans %}Numerous regions of the globe are hardly accessible, therefore maps either do not exist at all or are old. Space radar imaging could be highly beneficial to update the cartography. This is especially true in tropical regions where radar images can be acquired regardless of cloud conditions.<br>
In the case of French Guiana, the goal was to demonstrate how ERS-SAR can help understanding the land. It Was achieved through the generation of an innovative map, called 'satellite image map' or "space map", where the image itself directly provides a great part of the information on the land cover and relief.<br>
Presented afterwards<br>
-Space maps in 1:100,000 and 1:200,000 scales. A terrain campaign aimed at updating the geographic information on the Oyaock river, east of Guyana. This is a new, well premising application by which the user shall be able to integrate radar images in GIS (Geographic Information Systems).{% endtrans %}</p>
                          {#...#}
                          <h2 id="10">{% trans %}1/100 000 Space maps{% endtrans %}</h2>
                          <p>{% trans %} The background image is an ERS muItitemporal image consisting of 3 images obtained at different dates; 2 in the wet season and 1 in theft season. Superimposure of images to a cartographic reference system was done using ground reference points taken by a precise GPS system.<br>
By comparing the space map to the IGN map of the Roura region south of Cayenne, one can clearly appreciate  the complementarity of the two documents. The interest in the radar image is high. It possible to extract from the information related to the soil occupancy and to the relief: one can also mark easily waterflow, forest zones and clearings. It's worth while underlining that radar is the only tool able to capture and provide information on the state of the land du 'log the wet season, whereas optical instruments are hampered by the almost  permanent cloud cover.<br>
In this image extract. the swamps and savannahs of the coastal plain appear in lively colours (example in the upper left of the space map), which translate important changes in the radar pick-up between different dates. In our case, these differences correspond to seasonal evolutions in vegetation, levels of flooding, and plant cover.<br>{% endtrans %}</p>
                        <div id="ign-relief" style="background-image: url('{{asset('generale/ign10.jpeg')}}');margin-bottom: 20px; padding: 0;">
                          <img src="{{asset('generale/spatio10.jpeg')}}" id="front_generale10" style="margin: 0;"/>
                        <form>
                        <input type="range" id="transparence_generale10" name="quantity" min="0" max="100" step="1" value="100">
                        </form> 
                        </div>
                          <div id="carto10"></div>

                          {#...#}
                          <h2 id="20">{% trans %}1/200 000 Space maps{% endtrans %}</h2>
                          <p>{% trans %}The interest shown by users in several Institutions for the space maps of Cayenne and Kourou regions has led the CEGN (Cellule d'Etude en Geographie Numérique) and STAT (Section Technique de l'Armée de Terre) to generate a series of space maps covering the whole territory. This activity involved not only CEGN and STAT, project coordinators, but also IGN Space for the realisation (geometric assembling, presentation, preparation of artwork)  and the UPMC (Université Pierre et Marie)   thematic interpretation.{% endtrans %}</p>
                          <div id="carto20"></div>
                          <p>{% trans %}Two ERS coverages were merged to setup the background image of the space maps. , Complementary information, such as names of places and routes selected in the existing maps, has been integrated in this document. ! This extract displays the completeness of these space maps that represent today iI the only precise and homogeneous maps 1 of southern Guyana. The geometric positioning of the scenes I was carried out using the space triangulation technique combining: • ground reference points (found in existing maps or localised on land by , GPS systems) ! • satellite orbital information - I techniques for minimising the discrepancies in areas of overlapping adjacent images.{% endtrans %}</p>
                          <p>{% trans %}Several extracts from images have led to thematic interpretations which have been supplied in the margins of the space maps to facilitate their use. Here we display an image extract and its interpretation over the region of Kaw east of Cayenne.{% endtrans %}</p>


                          {#...#}
                          <h2 id="update_geo">{% trans %}Updating geographic information{% endtrans %}</h2>
                          <p>{% trans %}GPS positioning systems used jointly with ERS SAR images facilitate the generation and updating of space maps. In the country's interior, these systems allow monitoring on-land movements and, therefore, permit to georeference the collected geographic information. In areas of hard access, such as here in the south of French Guiana at the Brazilian border, the use of GPS readings verified by means of radar imaging allows to follow an itinerary on the image: to check, for example, the access to a dangerous area: to visualise old villages in detail and to position new ones: to locate schools, health centres, isolated buildings, piers, and cultivated areas. In the domain of health, the combination "satellite image.GPS' can contribute to understand the relationship between the natural features of an area and the development of certain diseases.{% endtrans %}</p>
                          <div id="maj_sig"></div>
                          <p>{% trans %}  In a country's interior, GPS systems and radar imaging allow georeference the collected geographic information.
Although the radar image does not always reveal in detail the needed information (due to its low resolution), it can contribute to understand the spatial organisation of the site under study, within a larger framework where land readings can be easily interpreted. In favourable cases, with radar images it is possible to locate villages, forest areas, savannahs, cultivated areas, and to update all information of this kind. {% endtrans %}</p>
                          <p>{% trans %}In poorly mapped regions, the kind of use presented in subsection offers very interesting possibilities. Paper maps, used for so long, will be gradually replaced in several application domains by digital satellite images where information from other sources/maps will also be conveyed. Depending on user requirements, these digital satellite images might contain: on.site photographs, appropriate commentary, interpreted,recent thematic maps, digitised old maps... Such an integrated approach will enrich the use of satellite images and render these affordable bu users in an overgrowing number of applications.{% endtrans %}</p>
                            <video width="320" height="240" controls>
                            <source src="{{asset('video/fleuve.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                            </video>
        </div>                                
    </div>
</div>
<a href="{{path('chapters',{chapter:'naut_charts'})}}" style='font-size:24px; float: left;margin-left: 20px;'><span class='fa fa-arrow-left' style='margin-right: 20px;'></span>{% trans %}Previous{% endtrans %}</a>
{% block javascript %}
<script>
  $(document).ready(
    function main(){
        getImages('generale/carto10','carto10');
        getImages('generale/carto20','carto20');
        getImages('generale/maj_sig','maj_sig');


    });
        $('#transparence_generale10').on('input',()=>{
        var n=$('#transparence_generale10').val();
        $('#front_generale10').css("opacity",n/100);;
        affiche(n);
    })
</script>
{% endblock %}