<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                    
                          <h1>{% trans %}Few words about radar images{% endtrans %}</h1>
                          <div id="video1"></div>
                          <p>
                          {% trans %}
                          Radar images can be obtained regardless of cloud conditions and rain,
                           which rain facilitates the building up of mosaic images with several scenes. 
                           In the case of French Guiana, the 18 scenes needed to cover the entire territory were collected 
                           in a few months time frame. It is obvious, though, that displaying simultaneously all 18 images 
                           in a unique image results in a diminished resolution. By clicking on the orange buttons one can 
                           appreciate the applicability of ERS images in various domains, and understand how an image can convey 
                           certain physical properties of the landscape. Clicking on the "Professor button” one can find additional,
                           detailed explanations on the SAR technology and image properties.{% endtrans %}</p>
                          <div id="slider1"></div>
                          {#...#}
                          <h2>{% trans %}Relief {% endtrans %}</h2>
                          <p>{% trans %}Forest cover is very dense in the country's interior. The image is in fact a top vegetation image, because ERS radar waves barely penetrate the forest cover (ERS' wave length is 6 cm). The impression on the relief is strong. The Geometric and radiometric distortions lead to the presence of relief due to the existence of a bright area with slopes facing the radar, and a darker area with slopes facing away: the contrast is naturally perceived by the human eye as a relief area. {% endtrans %}</p>

                        <div id="ign-relief" style="background-image: url('{{asset('img_rad/relief/2_ign-relief.jpeg')}}');margin-bottom: 20px; padding: 0;">
                          <img src="{{asset('img_rad/relief/1_ers-relief.jpeg')}}" id="front" style="margin: 0;"/>
                        <form>
                        <input type="range" id="transparence" name="quantity" min="0" max="100" step="1" value="100">
                        </form> 
                          
                        </div>
                        <video width="320" height="240" controls>
                            <source src="{{asset('video/relief.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                          {#...#}
                          <h2>{% trans %}Areas of deforostation {% endtrans %}</h2>
                          <p> {% trans %}Deforested areas being transformed into food-producing areas are clearly distinguishable in ERS SAR images from densely forested areas.{% endtrans %}</p>
                          <div id="deforostation"></div>
                          {#...#}
                          <h2>{% trans %}The coast {% endtrans %}</h2>
                          <p>{% trans %} In this image showing part of Sinnamary region, smooth, mud flats (A)appear in black, while eroded areas (B), i.e. where the ground is covered with dead trees, are shown in bright.{% endtrans %}</p>
                          <div id="coast"></div>
                          {#...#}
                          <h2>{% trans %}The town of Kourou {% endtrans %}</h2>
                          <p>{% trans %}The houses of Kourou and the installations of the European Space Centre stand out brightly in this radar image. Urban or industrialised areas look, instead, as degraded. This is due to the fact that the range of available grey levels in the initial data sets has to be reduced in order to be represented on the screen. This results in saturation of the brightest zones, and, consequently, poor resolution.{% endtrans %}</p>
                          <div id="kourou"></div>
                          
                          {#...#}
                          <h2>{% trans %}The Maripa rapids {% endtrans %}</h2>
                          <p>{% trans %}The rocky bars that restrict navigation on major rivers can be located in radar images by increasing the back scattering observed on the rocks and water turbulence, whilst the rest of the river appears black due to its smooth surface.
In this ERS 1 SAR image extract, the river partition into several branches of different sizes is particularly impressive.{% endtrans %}</p>

                          <div id="maripa_rapids"></div>
                        <video width="320" height="240" controls>
                            <source src="{{asset('video/fleuve.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                          {#...#}
                          <h2>ERS satellite</h2>
                          <p>{% trans %}Built up and launched by the European Space Agency, the ERS satellite mission has been operating since 1991. It consists of two spacecraft, ERS-1 and ERS•2. launched in 1991 and 1995, respectively. both equipped with a SAR Synthetic Aperture Radar instrurnent with a high spatial resolution of about 25 m. The radar captures detailed views of the Earth surface.
The observation system is based on an active receptor that illuminates the Earth surface and measures the reflected signal. Data are available at day and nighttime. independently from solar illumination. Moreover, as the radar signal penetrates clouds without weakening. images can be obtained regardless of climatic conditions.{% endtrans %}</p>
                          <div id="ers_sat"></div>
                          {#...#}
                          <h2>{% trans %}Behavior of microwaves{% endtrans %}</h2>
                          <h3>{% trans %} Behavior of microwaves on the surface of water{% endtrans %}</h3>
                          <p>{% trans %} Microwaves do not penetrate water very deeply, and the image shading is solely deriving from the roughness of the observed surface. The rougher the water surface is, the lighter it appears  in the image. A smooth surface, on the other hand, appears black (example: ``The Maripa rapids", in this section). Major movements in sand bars or riverbeds, due to the interaction of sea and river currents, can be observed in proximity of estuaries. When taken in favourable wind and current conditions, ERS images can reveal changes in the water surface allowing to follow the current lines and locate sand bars and mud banks. This is possible for shallow sea bottoms (below 20 m). Example in ‘Bathymetry of shallow waters' {% endtrans %}</p>

                          <h3>{% trans %} Behavior of microwaves on houses{% endtrans %}</h3>
                          <p>{% trans %} Towns  imaged by radar as very rough surfaces, appear generally as bright spots. Buildings appear as bright dots (strong reflection) if the density of constructions is low.
Examples include: 'The town of Kourou” (in this section), and  “The Cayenne and Kourou example {% endtrans %}</p>

                          <h3>{% trans %} Behavior of microwaves on the natural environment{% endtrans %}</h3>
                          <p>{% trans %} Types of vegetation cover found in natural landscapes are quite various. They can generally be discriminated due to their own back-scattering coefficient. Forested areas are characterised by intermediate back-scattering coefficients, the values of which depend on a great number of parameters: main shapes of trunks and branches, density and electrical properties of foliage, etc.. A dense and homogeneous forest ewer shows up in the image as uniform: the radar basics Ily"translates" the relief shapes.
Examples include: 'Relief' (in this section), 'Geology • §"Thematic cartography".{% endtrans %}</p>
        </div>                                
    </div>
</div>
<a href="{{path('chapters',{chapter:'general_intro'})}}" style='font-size:24px; float: left;'><span class='fa fa-arrow-left' style='margin-right: 20px;'></span>{% trans %}  Previous{% endtrans %}</a>
<a href="{{path('chapters',{chapter:'them_carto'})}}" style='font-size:24px; float: right; margin-right: 20px;'>{% trans %}Next{% endtrans %}<span class='fa fa-arrow-right'></span></a>
{% block javascript %}
<script>
  $(document).ready(
    function main(){
        getImages('img_rad/main','slider1');
        //getImages('img_rad/relief','relief');
        getImages('img_rad/deforostation','deforostation');
        getImages('img_rad/coast','coast');
        getImages('thema/kourou','kourou');
        getImages('img_rad/maripa_rapids','maripa_rapids');





    });
        $('#transparence').on('input',()=>{
        var n=$('#transparence').val();
        $('#front').css("opacity",n/100);;
        affiche(n);
    })
</script>
{% endblock %}