<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                    
                          <h1>{% trans %} Nautical charts updating {% endtrans %}</h1>
                          <p>{% trans %}This section illustrates how ERS images can help updating nautical maps and support the navigation in shallow estuaries.
 {% endtrans %}</p>
                          <p> {% trans %} Radar Satellites can monitor coastal features. To use the space-derived information in nautical mapping, one has to carefully locate the areas in the relevant satellite image, analyse  the image and extract the information needed. The latter shall have to be compared with other information from different sources and integrated in it, to generate new maps. {% endtrans %} </p>
                          <h3> {% trans %}Bathymetry in shallow sea bottoms {% endtrans %} </h3>
                          <p> {% trans %}Aid to navigation in particular areas close to the coast, the existence of temporary sand bars or mud banks can seriously impact on navigation safety. Most of the times available maps mold and do not show recent changes. The ERS radar satellite, thanks to its monthly revisiting cycle, enables to collect qualitative information on water depths, useful for navigation, even if less accurate than bathymetric measures. {% endtrans %} </p>
                          {#...#}
                          <h2>{% trans %}Monitoring changes in coastal features  {% endtrans %}</h2>
                          <p> {% trans %}ERS-SAR images allow to monitor changes in coastal features. This sequence of images acquired between 1992 and 1999 shows important changes. It deals with the phenomena of erosion and sedimentation that can extend up to several hundred metres, or even kilometres in certain areas. In the 1992 image, the light line coinciding with the coastline corresponds to a zone where the ground is strewn with dead trees. The areas in dark located beyond the coastline, towards the open sea, correspond to smooth mud banks, whilst the bright spots indicate very rough zones of young vegetation.{% endtrans %} </p>
                          <div id="monitoring"></div>
                          {#...#}
                          <h2>{% trans %}Georeferencing quality control {% endtrans %}</h2>
                          <p> {% trans %}Modern GPS (Global Positioning System) type positioning tools placed on a helicopter allow the recording of geographic coordinates of a trajectory within a given system of reference, and also the application of measurements to the image, which is also inserted in the same reference system. The quality of initial image geo referencing can thus be effectively verified. This interesting technique can prove very useful in particular landscapes, where it is hard to take ground reference points, although these are precisely located in the images.{% endtrans %} </p>
                          <div id="georeferencing" >
                          <img src="{{asset('marine/qualite/oya.jpeg')}}"  style="margin: 20px;"/>

                          </div>
                            <video width="320" height="240" controls>
                            <source src="{{asset('marine/qualite/helico.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                            </video>
                          
            
                          {#...#}
                          <h2>{% trans %}The Cayenne and Kourou example {% endtrans %}</h2>
                          <p> {% trans %}  In a coastal region evolving quickly, a regular update of nautical maps is needed. The Tidal limits in the SHOM (Service Hydrographique et Océanographique de la Marine) nautical charts No. 7379 of the area around Cayenne and No. 7980 of the area around Korou have been partially updated thanks to the use of georeferenced ERS SAR images. The same procedure was followed in updating the other maps covering the entire French Guiana coastline. SHOM intends to apply this updating method to numerous coastal areas where only radar images can help, because of hard climatic conditions (African coasts, Antarctic regions...) The areas where updating nautical charts by the help of satellite radar images can be particularly significant are those located either at low latitudes (tropical zones) or at extremely high latitudes. In particular, tropical areas having to face quick changes can benefit from the use of satellite radar imagery, as the cartography is old and recent information is unavailable.{% endtrans %} </p>
                          <div id="cayenne"></div>

                          {#...#}
                          <h2>{% trans %}Bathymetry in shallow sea bottoms{% endtrans %}</h2>
                          <p> {% trans %}Surface Water roughness is detected with a high sensitivity by the radar instrument. Roughness may depend primarily on meteorological conditions and sea currents, which in turn are linked to the underwater topography of a given site (with a less than 20 metres depth). Especially at river estuaries with strong currents, radar images can provide useful information on bathymetry.<br>
As an example, this ERS MR multitemporal image derived from 3 images at different dates allows to monitor current lines in the Oyapock Estuary. The superimposition of bathymetric lines taken from an old Brasilian map permits to identify the main shoals. The map/image comparison also shows that the map could be corrected in several points: in particular, most can be noticed in the coastline and in the southern part of an islet in the middle of the river.{% endtrans %} </p>
                          
                          <div id="bathy"></div>

                          <p> {% trans %}Traditional bathymetric surveys are conducted by oceanographic ships at depths above 20 metres. Although more precise, those surveys are very hard and highly expensive. They are generally accompanied by other geophysical measurements for a better understanding of the coastal dynamics. In shallow sea bottoms near coastlines, the readings are carried out by specially equipped, low-drawing boats, often unavailable outside the industrialised world. That is why the bathymetry of so many coastal regions is not known enough.{% endtrans %} </p>
                          <div id="bathy2"></div>
                            <video width="320" height="240" controls>
                            <source src="{{asset('video/bathy.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                            </video>
                          


        </div>                                
    </div>
</div>
<a href="{{path('chapters',{chapter:'them_carto'})}}" style='font-size:24px; float: left;margin-left: 30px;'><span class='fa fa-arrow-left' style='margin-right: 20px;'></span>{% trans %}  Previous{% endtrans %}</a>

<a href="{{path('chapters',{chapter:'general_carto'})}}" style='font-size:24px; float: right; margin-right: 20px;'>{% trans %}Next{% endtrans %}<span class='fa fa-arrow-right'></span></a>
{% block javascript %}
<script>
  $(document).ready(
    function main(){
        getImages('thema/kourou','veg_kourou');
        getImages('thema/culture','monitoring');
        getImages('thema/geol','geology');
        getImages('marine/bathy','bathy');




    });
</script>
{% endblock %}