
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                    
                          <h1>{% trans %}Thematic cartography {% endtrans %}</h1>
                          <p> {% trans %}The Various examples provided in this section enhance the intrinsic properties of satellite radar systems: to operate independently from climatic conditions and, therefore, to ensure repetitive, regular coverage even during the wet season. -to enable distinguishing clearly the relief in various, different landscapes.
These characteristics support researchers in their studies and measurements.
Two of the examples, namely 'Cartography of the vegetation around Kourou and 'The Petit Saut dam' show the complementarity of ERS and JERS japanese Earth Remote Sensing satellite missions. {% endtrans %}</p>
                          <div id="slider1"></div>
                          {#...#}
                          <h2>{% trans %}Natural vegetation around Kourou  {% endtrans %}</h2>

                          <p> {% trans %}An area western of Kourou. A mangrove forest separates the ocean from the coastal plain. The plain consists of an irregular mix of forests, savannahs, and swamps. The document displayed is a multitemporal of two ERS-SAR images and one SAR image from the japanese JERS satellite. The latter operates in waves (L band) that penetrate the vegetation deeper than those operated by ERS (C band). The JERS satellite, therefore, supplies complementary information concerning the characteristics of the vegetation (density, structure, etc.). The multitemporal, multisensor image differentiates the types of vegetation more clearly than with an individual, isolated shot. It matches precisely the same limits shown by the 1:50,000 scale vegetation map of the area.
{% endtrans %}</p>
                        <div id="ign-relief" style="background-image: url('{{asset('thema/3_erskourecdef.jpeg')}}');margin-bottom: 20px; padding: 0;">
                          <img src="{{asset('thema/2_vegetationdef.jpeg')}}" id="front_veg" style="margin: 0;"/>
                        <form>
                        <input type="range" id="transparence_veg" name="quantity" min="0" max="100" step="1" value="100">
                        </form> 
                        </div>
                          <div id="veg_kourou"></div>
                          
                          {#...#}
                          <h2>{% trans %}Monitoring cultivation {% endtrans %}</h2>
                          <h3>{% trans %}The Mana rice fields {% endtrans %}</h3>
                          <p> {% trans %} 
 Rice fields are characterised by the presence of stagnant water and stems whose various heights and densities evolve according to their growth. The illustration is a colour merge of 3 radar images acquired at different dates.
A series of radar images can help, after ground measurements, to monitor the temporal evolution of rice fields with cycles of various cultivations.
The colours indicate the cultivation evolution and the levels of flooding at a certain date. {% endtrans %}</p>
                          <div id="monitoring"></div>
                          <h3>{% trans %}Food producing areas {% endtrans %}</h3>
                          
                          <p> {% trans %}The brushwoods are small deforested areas to be converted into agricultural land. The First brushwoods in the Saint Laurent du Maroni region date back to the 1970's. At present. The most actively deforested zone stretches from the Mana crossroad to the town of Mana. along the Departmental Road 9. The cultivated brushwoods can be well distinguished in the ERS images from the dense surrounding forest.{% endtrans %}</p>
                          {#...#}

                          <h2>{% trans %} Geology {% endtrans %}</h2>
                          <p> {% trans %}The area of interest is almost entirely covered by dense forest, the top of which is clearly shown by the ERS SAR image. The comparison with the BRGM geological map produced by Choubert in 1953 is very instructive: • the alluvial  plain of the Comte river bed (in yellow in the geological map) stands out in the radar image thanks to its fine texture. • one can also identify several types of rocky faces, the granite (fine isotropic texture), the schists (non isotropic texture made up of longer slices), and more massive basaltic rocks of greater altitude. I Within this context, where rain erosion is great, the forms of relief directly express the rocks resistance to erosion. This example demonstrates how the presence of vegetation cover does not affect the potential of radar images for geomorphological analysis. 
{% endtrans %}</p>
                          <div id="geology"></div>

                          {#...#}
                          <h2>{% trans %}The Petit Saut dam {% endtrans %}</h2>
                          <p> {% trans %}The Filling of the Petit Saut dam dates back to 1994. Main flooded area as well as traces of the old water routes appear in black in the ERS-SAR images.
Barely distinguishable from the dense surrounding forests are the zones of flooded forest, where the trunks are only partially submerged.<br>
Images from the Japanese satellite lERS, on the other hand, show the flooded vegetation because of a greater penetration of its waves (L band) that amplifies (with polarization HH)  the back.scattering of the water trunk interface. One can therefore distinguish the areas where the forest is partially submerged, in light in the image.<br>
One can notice that the perception of the reservoir improves when comparing the JEFIS images of 1995 and 1997 with the ERS ones of 1995 and 1999. In the 1999 ERS image, an increased radiometric level for the reservoir surface probably corresponds to surface roughness induced by wind.{% endtrans %}</p>
                        <div id="ign-relief" style="background-image: url('{{asset('thema/rad02.jpeg')}}');margin-bottom: 20px; padding: 0;">
                          <img src="{{asset('thema/rad01.jpeg')}}" id="front_ers" style="margin: 0;"/>
                        <form>
                        <input type="range" id="transparence_ers" name="quantity" min="0" max="100" step="1" value="100">
                        </form> 
                        </div>

                          <div id="barrage"></div>
                        <video width="320" height="240" controls>
                            <source src="{{asset('video/petitso.mp4')}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>

        </div>                                
    </div>
</div>
<a href="{{path('chapters',{chapter:'img_radar'})}}" style='font-size:24px; float: left;margin-left: 20px;'><span class='fa fa-arrow-left' style='margin-right: 20px;'></span> {% trans %}Previous{% endtrans %}</a>
<a href="{{path('chapters',{chapter:'naut_charts'})}}" style='font-size:24px; float: right; margin-right: 20px;'>{% trans %}Next{% endtrans %}<span class='fa fa-arrow-right'></span></a>

{% block javascript %}
<script>
  $(document).ready(
    function main(){
        getImages('thema/kourou','veg_kourou');
        getImages('thema/culture','monitoring');
        getImages('thema/geol','geology');
        getImages('thema/barrage','barrage');




    });
        $('#transparence_ers').on('input',()=>{
        var n=$('#transparence_ers').val();
        $('#front_ers').css("opacity",n/100);;
        affiche(n);
    });
        $('#transparence_veg').on('input',()=>{
        var n=$('#transparence_veg').val();
        $('#front_veg').css("opacity",n/100);;
        affiche(n);
    })
</script>
{% endblock %}