{% extends 'base.html.twig' %}
{% block stylesheets %}
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{asset('css/base_style.css')}}">
      <link rel="stylesheet" href="{{asset('css/sidebar.css')}}">
      {% endblock %}
      {% block javascripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{asset('js/sidebar.js')}}"></script>
        <script src="{{asset('js/jsSlider.js')}}"></script>
      {% endblock %}
      {% block body %}
      <a href="#" class="dropdown-toggle"  data-toggle="dropdown" id="langdrop"><span class="fa fa-language"></span></a>
      <ul class="dropdown-menu animated fadeInLeft" role="menu" id="lang">
        {% set lang={'en':'English', 'fr':'Français'} %}
        {% for locale in locales %}
          <li><a href="{{ path('change_locale',{'locale': locale}) }}"> {{lang[locale]}}</a></li>
        {% endfor %}
      </ul>
    
      <div id="wrapper">
        <div class="overlay"></div>
    
          <!-- Sidebar -->
      <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
      
      <ul class="nav sidebar-nav">
      {#<div class="scrollbar" id="style-1">#}

        <div class="sidebar-header">
        <div class="sidebar-brand">
          <a href="{{path('main')}}">{% trans %}Home {% endtrans %}</a></div></div>
        
        <li><a href="{{path('chapters',{chapter:'general_intro'})}}" id="about">{% trans %}General Introduction{% endtrans %}</a></li>
        <li><a href="{{path('chapters',{chapter:'img_radar'})}}" id="rss">{% trans %}A few words about radar images{% endtrans %}</a></li>
        <li class="dropdown">
        <a href="#list"  class="dropdown-toggle"  data-toggle="dropdown">{% trans %}Thematic cartography {% endtrans %}<span class="caret"></span></a>
        <ul class="dropdown-menu animated fadeInLeft" role="menu">
          
          <li ><a href="{{path('chapters',{chapter:'them_carto'})}}" id="text">{% trans %}Natural vegetation around Kourou{% endtrans %}</a></li>
          <li ><a href="{{path('chapters',{chapter:'them_carto'})}}" id="text">{% trans %}Monitoring cultivation{% endtrans %}</a></li>
          <li ><a href="{{path('chapters',{chapter:'them_carto'})}}" id="text">{% trans %}Geology{% endtrans %}</a></li>
          <li ><a href="{{path('chapters',{chapter:'them_carto'})}}" id="text">{% trans %}The Petit Saut Dam{% endtrans %}</a></li>
        </ul>
        </li>
     
        <li class="dropdown">
        <a href="#list"  class="dropdown-toggle"  data-toggle="dropdown">{% trans %}Nautical charts updating {% endtrans %}<span class="caret"></span></a>
        <ul class="dropdown-menu animated fadeInLeft" role="menu">
          <li><a href="{{path('chapters',{chapter:'naut_charts'})}}" id="text">{% trans %}Monitoring changes in coastal features{% endtrans %}</a></li>
          <li><a href="{{path('chapters',{chapter:'naut_charts'})}}" id="text">{% trans %}Georeferencing quality control{% endtrans %}</a></li>
          <li><a href="{{path('chapters',{chapter:'naut_charts'})}}" id="text">{% trans %}The Cayenne and Kourou example{% endtrans %}</a></li>
          <li><a href="{{path('chapters',{chapter:'naut_charts'})}}" id="text">{% trans %}Bathymetry in shallow sea bottoms{% endtrans %}</a></li>
        </ul>
        </li>

        <li class="dropdown">
        <a href="#list"  class="dropdown-toggle"  data-toggle="dropdown">{% trans %}General cartography  {% endtrans %}<span class="caret"></span></a>
        <ul class="dropdown-menu animated fadeInLeft" role="menu">
          <li><a href="{{path('chapters',{chapter:'general_carto'})}}" id="text">{% trans %}1/100 000 cartography{% endtrans %}</a></li>
          <li><a href="{{path('chapters',{chapter:'general_carto',id:'#carto20'})}}" id="text">{% trans %}1/200 000 cartography{% endtrans %}</a></li>
          <li><a href="{{path('chapters',{chapter:'general_carto'})}}" id="text">{% trans %}Updating geographic informations{% endtrans %}</a></li>
        </ul>
        </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

          <!-- Page Content -->
    <div id="page-content-wrapper">
          <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>
          {% if chapter is defined %}
          {% dump(chapter)%}
            {% include "main/chapters/"~ chapter ~ ".html.twig" %}
          {% else %}
            {% include "main/chapters/home.html.twig" %}
          {% endif %}

        </div>
          <!-- /#page-content-wrapper -->

    </div>
      <!-- /#wrapper -->
        <div class="container" style="width:100%; height: 67vh;">
          <div class="row">

          </div>

        </div>



      {% endblock %}
      
              